{% extends "base_tikz.html" %}
{% block pageclass %}{{ block.super }} tikz-examples{% endblock%}

{% block title %}About the PGF/TikZ examples gallery{% endblock%}
{% block content-main %}
<h1>About the PGF and TikZ examples gallery</h1>

<p><a href="http://www.ctan.org/tex-archive/help/Catalogue/entries/pgf.html">PGF and TikZ</a>
is a delightful macro package for creating high quality illustrations
and graphics for use with (La|Con)TeX. The purpose of this examples gallery is to
showcase PGF and TikZ, and to be a useful learning resource.
</p>

<h2>Terms of use</h2>

<p>The examples in the gallery are copyrighted by their respective authors. Some of the examples are from
the PGF/Tikz manual, and are in principle released
under the <a href="http://www.fsf.org/licensing/licenses/fdl.html">GNU Free Documentation License</a>.
All other examples are are available under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons attribution
license</a>.
</p>

<p>Proper attribution is to mention somewhere in your code or document who
made the illustration.</p>


<h2>Contribute an example!</h2>

<p>You are more than welcome to contribute PGF/TikZ examples. Send an email to kjellmf at gmail.com, or
see the <a href="/contact/">contact page</a> for other ways to reach me. All contributed examples
must be released under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons attribution
license</a>.</p>

<h2>Technical details</h2>

<p>The gallery is implemented using the high-level <a href ="http://www.python.org">Python</a> Web framework <a href="http://www.djangoproject.com">Django</a>.
A Python script is used to build and update the gallery from a set of LaTeX source files. 
The following tools and libraries are used in the process:
</p>

<ul>
<li><a href="http://docutils.sourceforge.net/">Docutils</a> for formatting the example descriptions. 
The description of each example is put inside a comment environment, formatted using the <a href="http://docutils.sourceforge.net/rst.html">reStructuredText</a> syntax.</li>

<li><a href="http://pygments.org/">pygments</a> for syntax highlighting.</li> 
<li>The <a href="http://www.ctan.org/tex-archive/help/Catalogue/entries/preview.html">preview</a> LaTeX package for extracting and cropping the figures.</li> 
<li><a href="http://www.tug.org/applications/pdftex/">pdfTeX</a> for generating PDFs.</li>
<li><a href="http://pages.cs.wisc.edu/~ghost/">Ghostscript</a> for creating PNG images.</li>
<li>The <a href="http://effbot.org/zone/pil-index.htm">Python Imaging Library (PIL)</a> for image resizing and image thumbnail generation.</li>
</ul>

{% endblock %}

{% block sidebar %}
{% include "texgallery/menu.html" %}
<div class="colentry">
<ul class="feedlist">
<li><a href="/feeds/pgftikzexamples/">Subscribe to the PGF and TikZ examples feed</a></li>
</ul>
</div>
{% endblock %}