{% extends "exgallery/base.html" %}
{% block pageid %}pgftikzgallery{% endblock%}
{% block title %}PGF and TikZ examples gallery{% endblock %}
{% block feedtitle %}Latest additions to the PGF/TikZ example gallery{% endblock %}
{% block feedurl %}/feeds/pgftikzexamples/{% endblock %}
{% block content %}
{% load digg_paginator %}
<h1>PGF and TikZ examples gallery</h1>
<!--
<p>This page is an attempt to create a gallery of examples for users of the excellent
<a href="http://www.ctan.org/tex-archive/help/Catalogue/entries/pgf.html">PGF and TikZ</a>
macro package. </p>
-->
<p class="sort">Sort: <a href="/pgftikzexamples/all/">Alphabetical</a> | <a href="/pgftikzexamples/all/date/">Chronological</a></p>
{% digg_paginator %}
<div class="gallery" style="clear:both;">
{% for entry in object_list %}
<dl>
	<dt><a href="/pgftikzexamples/{{entry.slug}}/"><img src="{{entry.url}}thumbs/{{entry.slug}}.jpg" alt="{{entry.name}}" /></a></dt>
	<dd><a href="/pgftikzexamples/{{entry.slug}}/">{{entry.name}}</a><br />[<a href="{{entry.url}}PDF/{{entry.slug}}.pdf">PDF</a>]
[<a href="{{entry.url}}TEX/{{entry.slug}}.tex">TEX</a>]</dd>
</dl>
{% endfor %}
</div>

{% digg_paginator %}
{% endblock %}
{% block sidebar %}
{% include "exgallery/menu.html" %}

{% include "exgallery/taglist.html" %}
<div class="colentry">
<ul class="feedlist">
<li><a href="/feeds/pgftikzexamples/">Subscribe to the PGF and TikZ examples feed</a></li>
</ul>
</div>
{% endblock %}