{% extends "texgallery/tag_detail_base.html" %}
{% block title %}TikZ and PGF examples{% endblock %}

{% block description %}
<h1>Ti<i>k</i>Z and PGF examples</h1>

<p>View: <a href="{% url texgallery_all_alpha %}">Alphabetical</a> | <a href="{% url texgallery_all_date %}">Chronological</a> | <a href="{% url texgallery_all_list %}">As list</a></p>
{% endblock %}

{% block gallery %}
{% include "utils/paginator.html" %}
<div class="clear">&nbsp;</div>
<div class="gallery">
{% for entry in object_list %}
<dl{% if forloop.counter|divisibleby:"3" %} class="omega"{%endif%}>
	<dt><a href="{{entry.get_absolute_url}}"><img src="{{gallery_url}}thumbs/{{entry.slug}}.jpg" alt="{{entry.title}}" /></a></dt>
	<dd><a href="{{entry.get_absolute_url}}">{{entry.title}}</a><br />[<a href="{{gallery_url}}PDF/{{entry.slug}}.pdf">PDF</a>]
[<a href="{{gallery_url}}TEX/{{entry.slug}}.tex">TEX</a>]</dd>
</dl>
{% endfor %}
</div>
<div class="clear">&nbsp;</div>
{% include "utils/paginator.html" %}
{% endblock %}
