{% extends "base_tikz.html" %}
{% block pageid %}pgftikzgallery{% endblock%}
{% block title %}PGF and TikZ examples gallery{% endblock %}
{% block feedtitle %}Latest additions to the PGF/TikZ example gallery{% endblock %}
{% block feedurl %}/feeds/pgftikzexamples/{% endblock %}


{% block content-main %}
<h1>TikZ and PGF examples</h1>

<p>Welcome to the <a href="http://www.ctan.org/tex-archive/help/Catalogue/entries/pgf.html">PGF and TikZ</a> examples gallery.
You can browse the gallery in several ways. Select a tag from the list in the right column, or
select an entry point from the list below.
</p>


<h2>Browse the gallery</h2>

<ul>
	<li><a href="/pgftikzexamples/tag/manual/">Examples from the PGF/TikZ user guide</a></li>
	<li><a href="/pgftikzexamples/all/">Show all examples</a> (<a href="/pgftikzexamples/all/date/">chronological</a>)</li>
</ul>

{% load list_to_columns %}
<div class="tag-table">
<h5>Features</h5>

{% list_to_columns features as taglists 3 %}
<table>
<tr>
{% for taglist in taglists %}
<td><ul>
{% for tag in taglist %}
<li><a href="{{tag.get_absolute_url}}"><span>{{tag.title}}</span>{{tag.exampleentry_set.count}}</a></li>
{% endfor %}
</ul></td>
{% endfor %}
</tr>
</table>
</div>

{% load list_to_columns %}
<div class="tag-table">
<h5>Tags</h5>

{% list_to_columns tags as taglists 3 %}
<table>
<tr>
{% for taglist in taglists %}
<td><ul>
{% for tag in taglist %}
<li><a href="{{tag.get_absolute_url}}"><span>{{tag.title}}</span>{{tag.exampleentry_set.count}}</a></li>
{% endfor %}
</ul></td>
{% endfor %}
</tr>
</table>
</div>

<div class="clear">&nbsp;</div>

<h2>Latest additions to the gallery</h2>


<div class="gallery">
{% for entry in object_list %}
<dl>
	<dt><a href="/pgftikzexamples/{{entry.slug}}/"><img src="{{gallery_url}}thumbs/{{entry.slug}}.jpg" alt="{{entry.title}}" /></a></dt>
	<dd><a href="/pgftikzexamples/{{entry.slug}}/">{{title}}</a><br />[<a href="{{gallery_url}}PDF/{{entry.slug}}.pdf">PDF</a>]
[<a href="{{gallery_url}}TEX/{{entry.slug}}.tex">TEX</a>]</dd>
</dl>
{% endfor %}
</div>

<p style="clear:left"><a href="/pgftikzexamples/all/date/">Show all examples in chronological order</a></p>
{% endblock %}

{% block sidebar %}
{% include "exgallery/menu.html" %}

<div class="colentry">
<ul class="feedlist">
<li><a href="/feeds/pgftikzexamples/">Subscribe to the PGF and TikZ examples feed</a></li>
</ul>
</div>
{% endblock %}