{% extends "base_tikz_examples.html" %}
{% load texample_utils %}
{% block content-main %}
{% block description %}
<h1>{{tag.title}} examples</h1>
{{tag.description_html|safe}}
{% endblock %}
{% block gallery %}
<div class="gallery">
{% for entry in tag.exampleentry_set.all|order_by:"title" %}
<dl{% if forloop.counter|divisibleby:"3" %} class="omega"{%endif%}>
	<dt><a href="{{entry.get_absolute_url}}"><img src="{{gallery_url}}thumbs/{{entry.slug}}.jpg" alt="{{entry.title}}" /></a></dt>
	<dd><a href="{{entry.get_absolute_url}}">{{entry.title}}</a><br />[<a href="{{gallery_url}}PDF/{{entry.slug}}.pdf">PDF</a>]
[<a href="{{gallery_url}}TEX/{{entry.slug}}.tex">TEX</a>]</dd>
</dl>
{% endfor %}
</div>
{% endblock %}
{% endblock %}


{% block sidebar %}
{% include "texgallery/menu.html" %}
<div class="tag-list">
<h5 id="features">Features</h5>
<ul>
{% for tag in features %}
<li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span>{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>
<h5 id="tags">Tags</h5>
<ul>
{% for tag in tags %}
<li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span>{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>
<h5 id="areas">Technical areas</h5>
<ul>
{% for tag in technical_areas %}
<li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span>{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>
</div>
{% endblock %}