{% extends "base_tikz_examples.html" %}
{% block pageid %}code{% endblock%}
{% block title %}{{entry.title}} | TikZ example{% endblock %}

{% block breadcrumbs %}{{block.super}} &gt; <a href="{% url texgallery_all_alpha %}">All</a> &gt; {{entry.title}}{% endblock %}
{% block content-main %}
{% load typogrify %}
<h1>Example: {{entry.title|widont|smartypants|safe}}</h1>
<div class="pubinfo">
Published {{entry.created|date:"Y-m-d"}} |
 Author{{ entry.author.all|pluralize }}:
{% for author in entry.author.all %}<a href="{{author.get_absolute_url}}">{{author.full_name}}</a>{% if forloop.last %}{%else%}, {%endif%}{% endfor %}

</div>

<div class="example-description">
{{entry.description|safe}}
</div>
<p>Download as: [<a href="{{gallery_url}}PDF/{{entry.slug}}.pdf">PDF</a>]
[<a href="{{gallery_url}}TEX/{{entry.slug}}.tex">TEX</a>]
</p>
<div class="galleryimage">
<a href="{{gallery_url}}PDF/{{entry.slug}}.pdf"><img src="{{gallery_url}}PNG/{{entry.slug}}.png" alt="{{entry.title}}" /></a>
</div>
{{entry.content|safe}}
{% endblock %}
{% block sidebar %}
{% include "texgallery/menu.html" %}

<div class="tag-list">

<h5>Features</h5>
<ul>
{% for tag in entry.features.all %}
    <li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span class="count">{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>


<h5>Tags</h5>
<ul>
{% for tag in entry.tags.all %}
    <li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span class="count">{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>

{% if entry.technical_areas.all %}
<h5>Technical areas</h5>
<ul>
{% for tag in entry.technical_areas.all %}
    <li><a href="{{tag.get_absolute_url}}">{{tag.title}}<span class="count">{{tag.entry_count}}</span></a></li>
{% endfor %}
</ul>
{% endif %}


</div>

<p></p>
<!--Creative Commons License--><a rel="license" href="http://creativecommons.org/licenses/by/2.5/"><img alt="Creative Commons License" style="border-width: 0" src="http://creativecommons.org/images/public/somerights20.png"/></a><!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <Work rdf:about="">
        <license rdf:resource="http://creativecommons.org/licenses/by/2.5/" />
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
    </Work>
    <License rdf:about="http://creativecommons.org/licenses/by/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/></License></rdf:RDF> -->


{% endblock %}
