/*****************************************************************************

        CSS for TeXample.net
        Author: Kjell Magne Fauske
 
******************************************************************************/

p, table, hr, .box { margin-bottom:25px; }

.box p { margin-bottom:10px; }
body {padding-top:0; margin-top:0; background-color: black;}

/* Fonts */

p {margin-bottom: 1em;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:2.4em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.8em;margin-bottom:0.75em;}
h3 {font-size:1.3em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
p {margin:0 0 1.5em;}

/* Code */
pre, tt, code, kbd{ font-size:0.96em;}
pre {overflow:auto;}


/******* Layout ******/

/* Header */

#header{border-bottom : 1px solid gray; padding-top: 1em; position: relative; background-color:white;}
#header h2{margin:0 0.5em 0 0; padding:0 10px 0 0; border-right:1px solid #808080; float:left;}
#header p{margin:0;line-height:45px;}


/* Footer styles */

#footer {background-color: black; color: white; padding: 1em 0;}
#footer a {background-color: black; color: white;}


/* Main content */

#content-wrapper {background-color: white; padding-top: 1.5em; padding-bottom: 1em;}

/* Hanging punctation */
.content-main li{margin-left:0px}
.content-main li li {margin-left:30px}


/* Navigation */

#navigation-sec {background-color: #DDDDDD;}

#header {list-style:none}
#header ul li {display: inline;padding: 3px;}
#navigation-main, #navigation-sub {list-style: none;}
#navigation-main li, #navigation-sub li{display: inline;padding: 3px;}
.nav-sec #navigation-main a {color:gray;}
.tikz #nav-tikz a, .community #nav-community a,.articles #nav-articles a{color: red;font-weight:bold;}
#tikz-builds #nav-tikz-builds a, #tikz-resources #nav-tikz-resources a, .tikz-examples #nav-tikz-examples a{color:red;}


/* Sections */

.feedlink, .rss {background: url(img/feed-icon-12x12.png) no-repeat 2px 0.25em; padding-left: 18px;}

/****
 PGF Builds
****/

.builds-latest {background-color:silver; padding:5px;}

input.text, input.title,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #666;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }


ul{list-style:disc}
ul {
       list-style-position: outside;
       margin-left: 0px;
     }




.cont_16
{
	background: #fff url(img/16_col.gif) repeat-y;
}

/*
.container_12
{
	background: #fff url(img/16_col.gif) repeat-y;
}
*/

/******

 TeXGallery section

******/

/* Gallery index */

/*
.tag-table ul {
	list-style:none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
*/

.tag-table table tr{
        padding: 0 0;
        margin : 0 0;
}

.tag-table table td
{
        /*text-align: right;*/
        vertical-align: top;
        width: 220px;
        margin : 0 0px 0 0;
        padding: 0px 20px 0px 0px;
}

.tag-table table td.omega {padding-right:0;}
/*
.tag-table table td span
{
	float:left;
	text-align: right;
}

.tag-table table li:hover {background-color:red; margin-left:-5px; padding-left:5px;margin-right:-5px; padding-right:5px;}
.tag-table ul li{padding: 0 0;margin:0 0;}
*/

/* Thumbnails */
.gallery dl {margin:0; border: 1px solid silver;width: 218px; height:280px; padding:0;}
.gallery dl:hover{border-color:black;}
.gallery dl {float:left; margin-top:0; margin-left:0; margin-bottom: 10px; margin-right:20px;}
.gallery dl.omega {margin-right:0;}
.gallery dt {padding:9px; width: 200px; height: 200px;}
.gallery dt img {margin:0; padding:0;  }
.gallery dd {margin-left:0; padding:9px;}
.gallery dt a {border-bottom:none ! important;}

.galleryimage a {border-bottom:none ! important;}

/* Taglists */
.tag-list ul{ list-style:none; margin:0; padding:0;}
.tag-list li{ position:relative; margin:0; padding:0;}
.tag-list a{
	display:block;
	padding:1px 0 1px 10px;
	margin:0;
}
.tag-list a:hover{ background-color: #DFDFC8; border-bottom:none;}
.tag-list span{ position:absolute;right:10px;color: #ACACAC;}


/* Paginator */
.paginator{clear:both;float:right;padding:1.5em .75em;}
.paginator .prev-na,.paginator .next-na{border:1px solid #ccc;background-color:#f9f9f9;color:#aaa;font-weight:400;padding:.3em;}
.paginator .prev a,.paginator .prev a:visited,.paginator .next a,.paginator .next a:visited{border:1px solid silver!important;background-color:#e1e1e1;color:#234f32;font-weight:700;padding:.3em;}
.paginator a{text-decoration:none;}
.paginator .prev,.paginator .prev-na{margin-right:.5em;}
.paginator .next,.paginator .next-na{margin-left:.5em;}
.paginator .page a,.paginator .page a:visited,.paginator .curr{font-weight:400;border:1px solid silver!important;background-color:#e1e1e1;color:#006000;margin:0 .25em;padding:.25em;}
.paginator .curr{background-color:#930000;color:#fff;border:1px solid #234f32;font-weight:700;font-size:1em;}
.paginator .page a:hover,.paginator .curr a:hover,.paginator .prev a:hover,.paginator .next a:hover{background-color:#D3C9C9;border:1px solid #000!important;}
