{% extends "base.html" %}
{% block pageclass %}community{% endblock %}
{% block title %}The TeX community aggregator{% endblock %}


{% block content %}
<div class="container_12">
<div class="grid_8">
{% block content-main %}
{% endblock %}
</div>
<div class="grid_4">
{% block sidebar %}

<p class="feedlink"><a href="{% url top_feeds "community" %}">Subscribe to the TeX community RSS feed</a></p>
<h2>Authors</h2>

<ul>
{% load aggregator %}
{% get_feed_list as feed_list %}
{% for feed in feed_list %}
<li><a href="{{ feed.public_url }}">{{ feed }}</a> <a class="rss" href="{{ feed.feed_url }}">Feed</a></li>
{% endfor %}
</ul>
<p>Do you write about TeX and related topics? <a href="/contact/">Let us know</a> and
we will add your feed to this page.</p>
{% endblock %}
</div>
<div class="clear">&nbsp;</div>
</div><!-- container -->

{% endblock %}

