{% extends "base_tikz.html" %}
{% block pageid %}tikz-resources{% endblock%}
{% block title %}TikZ and PGF resources{% endblock %}

{% block content-main %}
<h1>TikZ and PGF Resources</h1>

<p>
A growing collection of links to various PGF and TikZ resources. 
Let me know if you know about other resources.
<p>

{% for category in category_list %}
<h2 id="{{category.title|slugify}}">{{category.title}}</h2>
{{category.description_html|safe}}
<ul>
<dl>
{% for resource in category.resource_set.all %}

<dt id="{{resource.title|slugify}}"><a href="{{resource.url}}">{{resource.title}}</a></dt>
<dd>{{resource.description_html|safe}}</dd>
{% endfor %}
</dl>
</ul>
{% endfor %}
{% endblock %}
{% block sidebar %}
Categories
<ul>
{% for category in category_list %}
<li><a href="#{{category.title|slugify}}">{{category.title}}</a></li>
{% endfor %}
</ul>
Recently added:

<ul>
{% for resource in resources|slice:":5" %}
<li><a href="#{{resource.title|slugify}}">{{resource.title}}</a></li>
{% endfor %}
</ul>

<p><a href="{% url tikz_feeds "resources" %}">Subscribe to the TikZ and PGF resources RSS feed</a></p>

{% endblock %}
