<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Framework CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/960.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}css/pygments_style.css" />
    <!-- Site-specific CSS -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css" media="screen" />
    <!--[if IE]><link rel="stylesheet" href="{{MEDIA_URL}}css/ie.css" type="text/css" media="screen, projection"><![endif]-->

    {% block extrahead %}{% endblock %}
</head>

<body id="{% block pageid %}generic{% endblock %}" class="{% block nav-level %}{% endblock%} {% block pageclass %}{% endblock %}">
<!-- Start of #header -->
<div id="header">
    <div class="container_12">
        <div class="grid_7">
            <h2><a href="/"><img src="{{MEDIA_URL}}img/logo.png" alt="TeXample.net" /></a></h2>
            <p>ample resources for TeX users</p>
        </div>
        <div id="navigation-mini" class="grid_5">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>    
        {% block navigation-main %}
        <!-- Start of #navigation-main -->
        <div id="navigation-main" class="grid_12">
            <ul>
                <!--<li id="nav-home"><a href="/">home</a></li>-->
                <li id="nav-tikz"><a href="/tikz/">Ti<i>k</i>Z</a></li>
                <!--<li id="nav-beamer"><a href="/tikz/">Beamer</a></li>-->
                <li id="nav-community"><a href="/community/">Community</a></li>
                <!--<li id="nav-articles"><a href="/articles/">Articles</a></li>-->
                <li id="nav-weblog"><a href="/weblog/">Weblog</a></li>
                <!--li id="nav-tools"><a href="/tools/">Tools</a></li>-->
            </ul>
        </div>
        <!-- End of #navigation-main -->
        <div class="clear">&nbsp;</div>
        {% endblock %}
    </div>
    <!-- End of #header -->
</div>
<!-- END of #header-wrapper -->
{% block sec-navigation %}{% endblock %}
{% block breadcrumbs-section %}{% endblock %}
<div id="content-wrapper">
{% block content %}
    <div class="container_12">
    <div class="grid_8 content-main">
            {% block content-main %}
            {% endblock %}
    </div>
    <div class="grid_4">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div class="clear">&nbsp;</div>
</div>
{% endblock %}
</div>

<!-- footer -->
<div id="footer" class="container_12">
    <div class="grid_12">
        <a href="/about/">about</a> | <a href="/contact/">contact</a> |
        Hosted by <a href="http://www.webfaction.com/?affiliate=fauske">Webfaction</a>
    </div>
    <div class="clear">&nbsp;</div>
</div>
<!-- end of footer -->

</body>
</html>
