{% extends "texblog/base_texblog.html" %}
{% block pageclass %}weblog{% endblock %}
{% block pageid %}weblog{% endblock%}



{% load typogrify %}
{% block content-main %}

<h1>Weblog entries</h1>
{% load comments %}

{% for entry in latest %}
{% get_comment_count for entry as comment_count %}
<div class="articleinfo">
        <h1><a href="{{entry.get_absolute_url}}">{{entry.title|widont|smartypants|safe}}</a></h1>
        <p class="meta">by {{entry.author.first_name}} {{entry.author.last_name}}, {{entry.pub_date|date:"l, F j, Y"}}{% if comment_count %} | <a href="{{entry.get_absolute_url}}#comment">Comments: {{comment_count}}</a>{%endif%}</p>
        
{% if entry.abstract_html %}
{{entry.abstract_html|safe}}
{% else %}
{{entry.body_html|truncatewords_html:30|safe}}
{% endif %}

<p><a href="{{entry.get_absolute_url}}">Continue reading...</a></p>
</div>
{% endfor %}


{% endblock %}

{% block sidebar %}
<p class="feedlink"><a href="{% url top_feeds "weblog" %}">Subscribe to the TeXample.net weblog RSS feed</a></p>
<p>The TeXample.net weblog feed is included in the <a href="/community/">TeX community aggregator</a>:</p>
<p class="feedlink"><a href="{% url top_feeds "community" %}">Subscribe to the TeX community RSS feed</a></p>
{% endblock sidebar %}

