{% extends "texblog/base_texblog.html" %}
{% block pageclass %}weblog{% endblock %}
{% block pageid %}weblog{% endblock%}
{% block nav-level %}level3{% endblock%}
{% block title %}{{entry.title|striptags}}{% endblock %}

{% load typogrify %}
{% block content-main %}

<div class="articleinfo">
<h1>{{entry.title|widont|smartypants|safe}}</h1>
<p class="meta">by {{entry.author.first_name}} {{entry.author.last_name}}, {{entry.pub_date|date:"l, F j, Y"}}</p>
</div>
{{entry.body_html|safe}}

{% include "comments/commentsection.html" %}
{% endblock %}

{% block sidebar %}
<p class="feedlink"><a href="{% url top_feeds "weblog" %}">Subscribe to the TeXample.net weblog RSS feed</a></p>
<p>The TeXample.net weblog feed is included in the <a href="/community/">TeX community aggregator</a>:</p>
<p class="feedlink"><a href="{% url top_feeds "community" %}">Subscribe to the TeX community RSS feed</a></p>
{% endblock sidebar %}