{% extends "index_base.html" %}

{% load generic_content %}
{% load typogrify %}

{% block recentblogentries %}
    {% get_latest_object texblog.entry as entry %}
    <div class="articleinfo">
        <h1><a href="{{entry.get_absolute_url}}">{{entry.title|widont|smartypants|safe}}</a></h1>
        <p class="meta">by {{entry.author.first_name}} {{entry.author.last_name}}, {{entry.pub_date|date:"l, F j, Y"}}</p>
        {% if entry.abstract_html %}
            {{entry.abstract_html|safe}}
        {% else %}
            {{entry.body_html|truncatewords_html:60|safe}}
        {% endif %}
        <p class="continue"><a href="{{entry.get_absolute_url}}">Continue reading...</a></p>
    </div>
    {% get_latest_objects texblog.entry 5 as weblogentries %}
    <div class="articleinfo">
    <p class="meta">Older weblog entries:</p>
    {% for entry in weblogentries|slice:"1:" %}
        
        <h5><a href="{{entry.get_absolute_url}}">{{entry.title|widont|smartypants|safe}}</a></h5>
        <p class="meta">by {{entry.author.first_name}} {{entry.author.last_name}}, {{entry.pub_date|date:"l, F j, Y"}}</p>
    {% endfor %}
    </div>
{% endblock recentblogentries %}
{% block abouttexample %}
    TeXample.net is a web site dedicated to the wonderful world of TeX and friends.
    The site is still under construction. Content and design will be added gradually.
    
    <div><p></p><a href="/tikz/examples/rotated-triangle/"><img src="{{MEDIA_URL}}img/rottriangle.png" /></a></div>
{% endblock abouttexample %}




{% block tikzsection %}
<h2><a href="{%url tikz_index %}">Ti<i>k</i>Z and PGF</a></h2>

<p><a href="{% url texgallery_index %}">Examples</a> | <a href="{% url pkgresources_index %}">Resources</a> | <a href="{% url pkgbuilds_index %}">Builds</a></p>
{% block tikz_examples %}
{% get_latest_objects texgallery.exampleentry 2 as tikzexamples %}

<p><a href="{% url texgallery_index %}">Latest Ti<i>k</i>Z examples</a>:</p>
<div class="gallery">
    {% for entry in tikzexamples %}
    <dl{% if forloop.counter|divisibleby:"2" %} class="omega"{%endif%}>
        <dt><a href="{{entry.get_absolute_url}}"><img src="{{GALLERY_URL}}thumbs/{{entry.slug}}.jpg" alt="{{entry.title}}" /></a></dt>
        <dd><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></dd>
    </dl>
    {% endfor %}
</div>
{% endblock tikz_examples %}

{% endblock tikzsection %}

{% block community %}
<h2><a href="/community">Community</a></h2>
<p>Latest from the TeX community aggragator:</p>
{% get_latest_objects aggregator.feeditem 5 as items %}
{% for item in items %}
<p class='meta'>Posted on {{ item.date_modified|date:"F j, Y" }} by <a href="{{ item.feed.public_url }}">{{ item.feed.title }}</a></p>
<h5><a href="{{ item.link }}">{{ item.title }}</a></h5>

{% endfor %}
<p><a href="/community/">View all entries...</a></p>
{% endblock community %}


